# CS211: Data Privacy
## In-Class Exercise, 9/2/2020

In [1]:
# Load the data and libraries
import pandas as pd
import numpy as np

adult = pd.read_csv('https://github.com/jnear/cs211-data-privacy/raw/master/homework/adult_with_pii.csv')

## Question 1 (5 points)

Write code to group the `adult` dataset by a single column and count the number of members in each group.

In [10]:
def group_one_count(col):
    return adult.groupby(col).size()

In [11]:
group_one_count('Education')

Education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
dtype: int64

In [12]:
s = group_one_count('Education')
assert s['10th'] == 933
assert s['9th'] == 514
assert s['Some-college'] == 7291

## Question 2 (5 points)

Write code to group the `adult` dataset by two columns and count the number of members in each group.

In [13]:
def group_two_count(col1, col2):
    return adult.groupby([col1, col2]).size()

In [14]:
group_two_count('Occupation', 'Education')

Occupation        Education
Adm-clerical      10th             38
                  11th             67
                  12th             38
                  5th-6th           6
                  7th-8th          11
                                 ...
Transport-moving  Doctorate         1
                  HS-grad         825
                  Masters          10
                  Prof-school       3
                  Some-college    283
Length: 201, dtype: int64

In [15]:
s = group_two_count('Occupation', 'Education')
assert s['Transport-moving']['Doctorate'] == 1
assert s['Adm-clerical']['10th'] == 38

## Question 3 (5 points)

Write code to perform a differencing attack to determine Brenn McNeely's age using only the `mean` aggregation function over large groups.

In [16]:
def get_brenns_age():
    a1 = adult['Age'].mean()
    a2 = adult[adult['Name'] != 'Brenn McNeely']['Age'].mean()
    return a1*len(adult) - a2*(len(adult) - 1)

brenns_age = get_brenns_age()

In [17]:
assert brenns_age == 38.0